 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-image-1 {
  width: 776px;
  height: 540px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  font-weight: 700;
  text-shadow: 5px 4px 0px rgba(0,0,0,0.25);
  text-transform: none;
  width: 696px;
  margin: -17px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 244px;
  margin: 19px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 86px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  border-style: solid;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -74px auto 60px;
  padding: 15px 62px 15px 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 501px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 66px;
    padding-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 113px;
    padding-left: 112px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-image-1 {
    height: 237px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
    width: 340px;
  }
}