 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ScreenShot2021-12-07at21.05.56.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1763px;
}

.u-section-1 .u-text-1 {
  margin: 37px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  min-height: 1590px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-22 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-23 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-24 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-btn-25 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-26 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-27 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-btn-28 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-29 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-30 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-btn-31 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-32 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-33 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-12 {
  padding: 10px;
}

.u-section-1 .u-btn-34 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-35 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-36 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-btn-37 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-38 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-39 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-14 {
  padding: 10px;
}

.u-section-1 .u-btn-40 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-41 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-42 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-15 {
  padding: 10px;
}

.u-section-1 .u-btn-43 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-44 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-45 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-16 {
  padding: 10px;
}

.u-section-1 .u-btn-46 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-47 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-48 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px;
}

.u-section-1 .u-btn-49 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-50 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-51 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-18 {
  padding: 10px;
}

.u-section-1 .u-btn-52 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-53 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-54 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px;
}

.u-section-1 .u-btn-55 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-56 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-57 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-container-layout-20 {
  padding: 10px;
}

.u-section-1 .u-btn-58 {
  border-style: solid;
  margin: 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-59 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

.u-section-1 .u-btn-60 {
  border-style: solid;
  margin: 20px 0 0;
  padding: 26px 65px 28px 64px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 8px));
    min-height: 1311px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 2929px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 4707px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}